<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="RDIF Creation">
		<classes>
			<class name="tests.RDIFCreation" />
		</classes>
	</test>

	<!--<test name="SRF">
		<classes>
			<class name="tests.SurveyRequestForm" />
		</classes>
	</test>

	<test name="Review RDIF">
		<classes>
			<class name="tests.ReviewRDIF" />
		</classes>
	</test>-->
</suite> 
